@media (max-width: 1200px){
  .header-row{
    padding: 48px 0;
  }
}
@media (max-width: 1000px){
    .header-row .header-toggle{
      display: none;
    }
    .header-row .header-menu{
      display: none;
    }
    .header-row .header-burger{
      display: block;
    }
        section.products .products-list .products-item .products-item-text{
          padding: 30px 40px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }
          section.products .products-list .products-item .products-item-text h3{
            margin-bottom: 20px;
            //margin-top: 30px;
          }
          section.products .products-list .products-item .products-item-text p{
            line-height: 24px;
          }
        section.products .products-list .products-item .products-item-img{
          height: 410px;
        }
}
@media (max-width: 767px){
  .footer-row{
    gap: 30px;
  }
    .footer-row .footer-menu{
      width: calc(50% - 15px);
    }
    .footer-row .footer-info{
      width: calc(50% - 15px);
    }
  .products-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
      .products-list .products-item .products-item-text{
        padding: 32px 15px !important;
      }
      .products-list .products-item .products-item-text{
        width: 100%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
      }
      .products-list .products-item .products-item-img{
        width: 100%;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
      }
        section.news .news-list .news-item img{
          height: 250px;
        }
}
@media (max-width: 520px){
      .cards .cards-list .cards-list-item{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
      }
      .cards .cards-list .cards-list-item{
        height: 100vw;
      }
  .burger-menu{
    width: 80%;
  }
  .section-title{
    padding-bottom: 40px;
  }
  section.news{
    margin-top: 80px;
    padding-top: 52px;
  }
       section.news .news-list .news-item .news-descr{
         line-height: 28px;
       }
      section.banner .banner-text h1{
      line-height: 40px;
      }
}
